In [1]:
import pandas as pd
from unidecode import unidecode

In [2]:
cpc_2021 = pd.read_csv("dados_processados/cpc_2021.csv")

In [3]:
cpc_2022 = pd.read_csv("dados_processados/cpc_2022.csv")

In [4]:
cpc_2019 = pd.read_csv("dados_processados/cpc_2019.csv")

In [5]:
cpc_2021

      co_curso  cpc_faixa
0            6          4
1           19          4
2           26          3
3           27          3
4           29          4
...        ...        ...
3333        34          3
3334     22837          0
3335    101054          4
3336   1128077          3
3337   1188880          4

[3338 rows x 2 columns]

In [6]:
cpc_2022

      co_curso  cpc_faixa
0           13          4
1            8          4
2            2          3
3            1          4
4       123427          4
...        ...        ...
1219    107894          4
1220   1127343          4
1221        21          3
1222    123052          4
1223     84854          4

[1224 rows x 2 columns]

In [7]:
# Encontrar os valores comuns na coluna 'co_curso'
valores_comuns = cpc_2021['co_curso'].isin(cpc_2022['co_curso'])

# Filtrar os dataframes para listar os valores comuns
df_valores_comuns = cpc_2021[valores_comuns]

# Se você quiser listar apenas os valores de 'co_curso' que são comuns
lista_valores_comuns = df_valores_comuns['co_curso'].unique()

# Exibir a lista de valores comuns
print(lista_valores_comuns)

[]

In [8]:
df_valores_comuns

Empty DataFrame
Columns: [co_curso, cpc_faixa]
Index: []

In [9]:
valores_comuns_2019_2021 = cpc_2019['co_curso'].isin(cpc_2021['co_curso'])

# Filtrar os dataframes para listar os valores comuns
df_valores_comuns_2019_2021 = cpc_2019[valores_comuns_2019_2021]

# Se você quiser listar apenas os valores de 'co_curso' que são comuns
lista_valores_comuns_2019_2021 = df_valores_comuns_2019_2021['co_curso'].unique()

# Exibir a lista de valores comuns
print(lista_valores_comuns_2019_2021)

[1168551 1192413   99423  104364  104366 1083188  300635  300687   92157
  301438  123128   91897   91899  122951  420416 1212124 1257438  303410
 1215159  303662 1146686   92601   95631  150186  311300 1268388   11542
 1376137   12327  312562 1112869  312952  313092 1270439  104158  122288
 1192307 5000731   88652  103346  100256 1191555 1113009 1113011   97099
   44892  102665   94115  114417 1292614  114444   62970   64898  102304
 1120717  102820 1118130 1081931 1172159   61592 1214165  416944 1118111
 1350324  302525]

In [10]:
lista_valores_comuns_2019_2021

array([1168551, 1192413,   99423,  104364,  104366, 1083188,  300635,
        300687,   92157,  301438,  123128,   91897,   91899,  122951,
        420416, 1212124, 1257438,  303410, 1215159,  303662, 1146686,
         92601,   95631,  150186,  311300, 1268388,   11542, 1376137,
         12327,  312562, 1112869,  312952,  313092, 1270439,  104158,
        122288, 1192307, 5000731,   88652,  103346,  100256, 1191555,
       1113009, 1113011,   97099,   44892,  102665,   94115,  114417,
       1292614,  114444,   62970,   64898,  102304, 1120717,  102820,
       1118130, 1081931, 1172159,   61592, 1214165,  416944, 1118111,
       1350324,  302525], dtype=int64)

In [11]:
lista_valores_comuns_2019_2021.shape

(65,)

In [12]:
valores_comuns_2019_2022 = cpc_2019['co_curso'].isin(cpc_2022['co_curso'])

# Filtrar os dataframes para listar os valores comuns
df_valores_comuns_2019_2022 = cpc_2019[valores_comuns]

# Se você quiser listar apenas os valores de 'co_curso' que são comuns
lista_valores_comuns_2019_2022 = df_valores_comuns_2019_2022['co_curso'].unique()

# Exibir a lista de valores comuns
print(lista_valores_comuns_2019_2022)

[]

C:\Users\thami\AppData\Local\Temp\ipykernel_2648\1712828138.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_valores_comuns_2019_2022 = cpc_2019[valores_comuns]