In [1]:
import pandas as pd
from unidecode import unidecode

In [2]:
cpc_2019 = pd.read_csv("dados_processados/cpc_2019.csv")
cpc_2021 = pd.read_csv("dados_processados/cpc_2021.csv")
cpc_2022 = pd.read_csv("dados_processados/cpc_2022.csv")

In [3]:
# Concatenando os dataframes
cpc_final = pd.concat([cpc_2022, cpc_2021, cpc_2019])

In [4]:
cpc_final.shape

(6535, 2)

In [5]:
# Removendo duplicatas, mantendo a primeira ocorrência (2022, depois 2021, e por último 2019)
cpc_final = cpc_final.drop_duplicates(subset='co_curso', keep='first').reset_index(drop=True)

In [6]:
cpc_final.shape

(6470, 2)

In [7]:
cpc_final

      co_curso  cpc_faixa
0           13          4
1            8          4
2            2          3
3            1          4
4       123427          4
...        ...        ...
6465   1146839          2
6466   1186268          3
6467   1208279          2
6468   1428361          4
6469    123116          4

[6470 rows x 2 columns]

In [8]:
cpc_final.to_csv('dados_processados/cpc_final.csv', index=False)