In [1]:
import pandas as pd
from unidecode import unidecode

In [2]:
enade_2021 = pd.read_csv("dados_processados/enade_2021.csv")
enade_2022 = pd.read_csv("dados_processados/enade_2022.csv")
enade_2019 = pd.read_csv("dados_processados/enade_2019.csv")

In [3]:
# Concatenando os dataframes
enade_final = pd.concat([enade_2022, enade_2021, enade_2019])

In [4]:
enade_final.shape

(6595, 2)

In [5]:
# Removendo duplicatas, mantendo a primeira ocorrência (2022, depois 2021, e por último 2019)
enade_final = enade_final.drop_duplicates(subset='co_curso', keep='first').reset_index(drop=True)

In [6]:
enade_final.shape

(6530, 2)

In [7]:
enade_final

      co_curso  enade_faixa
0            1            5
1            2            2
2            7            4
3            8            4
4           13            4
...        ...          ...
6525   1146839            3
6526   1186268            3
6527   1208279            2
6528   1428361            5
6529    123116            5

[6530 rows x 2 columns]

In [8]:
enade_final.to_csv('dados_processados/enade_final.csv', index=False)